<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.3/metadata.xsd">
  <identifier identifierType="DOI"><%= "#{dois[:analysis][:DOI]}"%></identifier>
  <creators>
    <% pub_tag['creators'].each do |creator| %>
    <creator>
      <creatorName nameType="Personal"><%= creator['familyName'] %>, <%= creator['givenName'] %></creatorName>
      <givenName><%= creator['givenName'] %></givenName>
      <familyName><%= creator['familyName'] %></familyName>
      <% if creator['ORCID'].present? %>
      <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID"><%=creator['ORCID']%></nameIdentifier>
      <% end %>
      <% if (aff_ids = creator['affiliationIds']).present? then aff_ids.each do |aff_id| %>
      <affiliation><%=pub_tag['affiliations'][aff_id.to_s]%></affiliation>
      <% end %>
      <% end %>
    </creator>
    <% end %>
  </creators>
  <titles>
    <title xml:lang="en-US"><%= (element.extended_metadata['kind'] || '').split('|').pop %> (<%= parent_element.molecule.iupac_name %>)</title>
    <title titleType="AlternativeTitle"><%= parent_element.molecule.inchistring %></title>
  </titles>
  <publisher>chemotion.net</publisher>
  <publicationYear><%= Time.now.strftime("%Y") %></publicationYear>
  <% if pub_tag['contributors'].present? %>
  <contributors>
    <contributor contributorType="Researcher">
      <contributorName><%= pub_tag['contributors']['familyName'] %>, <%= pub_tag['contributors']['givenName'] %></contributorName>
      <givenName><%= pub_tag['contributors']['givenName'] %></givenName>
      <familyName><%= pub_tag['contributors']['familyName'] %></familyName>
      <% if pub_tag['contributors']['ORCID'].present? %>
      <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID"><%=pub_tag['contributors']['ORCID']%></nameIdentifier>
      <% end %>
      <% if pub_tag['contributors'] && pub_tag['contributors']['affiliations'].present? then pub_tag['contributors']['affiliations'].each do |aff| %>
      <affiliation><%= aff %></affiliation>
      <% end %>
      <% end %>
    </contributor>
  </contributors>
  <% end %>
  <subjects>
    <subject>Chemistry</subject>
  </subjects>
  <language>en</language>
  <resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
  <version>1</version>
  <rightsList>
    <rights xml:lang="en-US" schemeURI="<%= rights[:schemeURI] %>" rightsIdentifierScheme="<%= rights[:rightsIdentifierScheme] %>" rightsIdentifier="<%= rights[:rightsIdentifier] %>" rightsURI="<%= rights[:rightsURI] %>"><%= rights[:rightsName] %></rights>
  </rightsList>
  <descriptions>
    <description xml:lang="en-US" descriptionType="Abstract">
      dataset for <%= (element.extended_metadata['kind'] || '').split('|').pop %><br />
      <%= element.extended_metadata['description'] %>
      <%= Nokogiri::HTML( Chemotion::QuillToHtml.new.convert(element.extended_metadata['content'])).text %>
    </description>
  </descriptions>
  <relatedIdentifiers>
    <%# <% publication.sample.citations.each do |c| %1> %>
    <%#   <relatedIdentifier relatedIdentifierType="DOI" relationType="IsSupplementTo"><%= c.doi %1></relatedIdentifier> %>
    <%# <% end %1> %>
    <relatedIdentifier relatedIdentifierType="DOI" relationType="IsPartOf"><%= "#{dois[:parent_element][:DOI]}" %></relatedIdentifier>
  </relatedIdentifiers>
</resource>
